/* Layout */


/* Body Header */

body > header
{
    display: flex;
}

body > header > a 
{
    flex: 0.05;   
}

body > header > h1
{
    flex: 0.12;
    margin: 0em;
    padding-top: 0.1em;    
}

body > header > h3
{
    margin: 0em;
    padding-top: 0.70em;
}

/* Menu */

#menu
{
    padding-bottom: 0em;
    margin-bottom: 0em; 
}

#menu ul
{
    display: flex;
    background-color: #ffffff;
}

#menu ul li
{
    background-color: #4cbdda;
    display: block;
    margin-bottom: 0em;
    flex: 1;
}