/* Style */


/* Font Imports */

@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");


/* Body Style */

body 
{
	/*width: 900px;*/
	margin: 2em 10em 3em 10em;
    background-color: #eaeaea;
    font-family: Trebuchet MS;
    padding: 0%;
	/* position: relative; */
}

body > header
{
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    margin-bottom: 2em;
}

body > header img
{
    width: 45px;
    height: 40px;
}

body > header a
{
    color: black;
    text-decoration: none;
}


/* Intro Style */

#intro
{
    margin: 2em 1em auto;
}

#intro > h3
{
    font-family: 'Indie Flower', Arial, sans-serif;
    font-size: 2.5em;
    text-align: center;
}


/* Menu Style */

#menu 
{
    margin-top: 1em;
    padding-left: 0.5em;
    margin-left: 0em;
    margin-bottom: 2em;
}


#menu > button
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color:#353434;
    font-size: 0.95em;
    text-align: center;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #51a0d4;
    transition: background-color 1s, transform 1s;
}

#menu > button:hover
{
    background-color: #51a0d4;
    transform: scale(1.1, 1.1);
}


/* Form Style */

#interaction_form{
    display: inline;
}

#login_form {
    display: none;
}

#login{
    width: 35%;
    padding: 80px 0 80px 120px;
}

#login input[type="submit"]{
    width: 60%;
    padding: 7px;
    border-radius: 4px;
    font-size: 20px;
    background-color: gray;
    cursor: hand;
}

#login input[type="text"], #login input[type="password"]{
    width: 60%;
    padding: 7px;
    margin: 10px 0 10px 0;
    cursor: text;
    border-radius: 4px;
    font-size: 20px;
}

#login_info{
    flex: 1;
}

#signup_form{
    display: none;
}

.form_button{
    width: 296px;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #51a0d4;
    cursor: pointer;
    transition: background-color 1s, transform 1s
}


/* Footer Style */

body > footer
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #494848;
    margin: 0em 10em;
    padding: 0.65em;
    color: #ffffff;
}


/* Lists Style */

#todolists > ul
{
    margin-top: 5em;
    margin-bottom: 5em;
    list-style: none;
}

#todolists > ul > li
{
    padding: 1em;
    border-style: solid;
    border-radius: 1.5em;
    border-width: 0.2em;
    border-color: #5aa7da;
    text-indent: 3em;
    font-family: cursive;
    margin-bottom: 1em;
}

#todolists > ul > li > a
{
    color: #000000;
    text-decoration: none;
}