/* Style */

/* Font Imports */
@import url("https://fonts.googleapis.com/css?family=Raleway");

/* Body Style */
body
{
    font-family: 'Raleway', sans-serif;
    padding: 0%;
}

body > header img
{
    width: 45px;
    height: 40px;
}

body > header a
{
    color: black;
    text-decoration: none;
}

/* Interaction form */
#interaction_form{
    padding: 0 1em;
}

#login_form, #signup_form{
    margin: 0 1em;
}

#interaction_form .enter_button{
    width: 100%;
    padding: 1em;
    margin: 1em;
    border-width: 4px;
    border-radius: 10px;
    border-color: #51a0d4;
    transition: background-color 0.4s, transform 0.4s;
}

#interaction_form .enter_button:hover{
    background-color: #51a0d4;
    transform: scale(1.1, 1.1);
}

/*
#interaction_form .enter_button:active{
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}*/


/*
#login, #signup{
    display: inline-block;
}*/

#interaction_form #login_form, #interaction_form #signup_form{
    display: none;
}


